<app-banner [y]="title"></app-banner>
<div class="site-section">
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Matches</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Players</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Teams</a>
              <a class="nav-item nav-link" id="nav-stade-tab" data-toggle="tab" href="#nav-stade" role="tab" aria-controls="nav-stade" aria-selected="false">Stadiums</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><app-matches-table></app-matches-table></div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><app-player-table></app-player-table></div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><app-teams-table></app-teams-table></div>
            <div class="tab-pane fade" id="nav-stade" role="tabpanel" aria-labelledby="nav-stade-tab"><app-stadiums-table></app-stadiums-table></div>
          </div>
          
          
    </div>
  </div>
