<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="widget-next-match">
          <table class="table custom-table">
            <thead>
              <tr>
                
                <th>Name</th>
                <th>Age</th>
                <th>Number</th>
                <th>Position</th>
                
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of players">
                
                <td>
                  <strong class="text-white">{{ player.name }}</strong>
                </td>
                <td>{{ player.age }}</td>
                <td>{{ player.number }}</td>
                <td>{{ player.position }}</td>
                
                <td>
                  <button class="btn btn-success" (click)="goToDisplay(player._id)">Display</button>
                  <button class="btn btn-warning" style="margin-left: 2%" (click)="goToDisplayEdit(player._id)">
                    Edit
                  </button>
                  <button class="btn btn-danger" style="margin-left: 2%" (click)="deletePlayer(player._id)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
