<app-banner [y]="title"></app-banner>
<div class="custom-media d-flex container" style="margin-top: 5%;">
    <div class="img mr-4">
      <img  [src]="user.image"  alt="Image" class="img-fluid">
    </div>
    <div class="text" style="padding-top: 2%;padding-left: 3%;">
      
      <h3 class="mb-4"><a href="#">First Name : <span class="meta">{{user.firstName}}</span></a></h3>
      <h3 class="mb-4"><a href="#">Last Name : <span class="meta">{{user.lastName}}</span></a></h3>
      <h3 class="mb-4"><a href="#">Email :  <span class="meta">{{user.email}}</span></a></h3>
      <h3 class="mb-4"><a href="#">Role : <span class="meta">{{user.role}}</span></a></h3>
    </div>
  </div>
