<app-banner [y]="title"></app-banner>
<div class="hero overlay" style="background-image: url('assets/images/bg_1.jpg');margin-top: 5%;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 ml-auto">
          <h1 class="text-white">{{findedStad.name}}</h1>
          <p>Team : {{findedStad.team}}</p>
          <p>Country : {{findedStad.country}}</p>
          <p>City: {{findedStad.city}}</p>
          <p>Capacity : {{findedStad.capacity}}</p>
        </div>
      </div>
    </div>
  </div>
